[data-theme="light"] .projectCard {
    background-color: rgb(206, 206, 206);
}

[data-theme="dark"] .projectCard {
    background-color: #2b3448;
}

.projectCard {
    border-radius: 12px;
    padding: 2%;
    margin-bottom: 1.5%;
}

.contextButtonActions {
    display: flex;
    gap: 2%;
}