.superContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upperBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.projectsContainer {
    max-width: 80%;
    min-width: 80%;
    overflow-y: scroll;
    max-height: 70vh;

}

.sharedContainer {
    max-width: 80%;
    min-width: 80%;
    overflow-y: scroll;
    max-height: 70vh;
    overflow-y: scroll;
}